services:
  backend:
    image: openmrs/openmrs-reference-application-3-backend:3.4.0
    environment:
      OMRS_CONFIG_DATABASE: mysql
      OMRS_CONFIG_CONNECTION_DATABASE: openmrs
      OMRS_CONFIG_CONNECTION_SERVER: mariadb
      OMRS_CONFIG_CONNECTION_USERNAME: root
      OMRS_CONFIG_CONNECTION_PASSWORD: abc123
      OPENMRS_DB_CREATE_TABLES: true
      # OMRS_INITIAL_SETUP_MODEL: demo (este valor es por defecto y crea datos demo)
      OMRS_INITIAL_SETUP_MODEL: empty
      JAVA_TOOL_OPTIONS: "-Dhibernate.hbm2ddl.auto=create"
    networks:
      - php-docker-stack_default
  frontend:
    image: openmrs/openmrs-reference-application-3-frontend:3.4.0
    environment:
      SPA_PATH: /openmrs/spa
      API_URL: /openmrs
    networks:
      - php-docker-stack_default
  gateway:
    image: openmrs/openmrs-reference-application-3-gateway:3.4.0
    ports:
      - 80:80
    networks:
      - php-docker-stack_default
networks:
  php-docker-stack_default:
    external: true
