services:
  backend:
    image: openmrs/openmrs-core:2.8.0
      #image: openmrs/openmrs-reference-application:latest
      #image: openmrs/openmrs-reference-application-distro:latest
    environment:
      OMRS_CONFIG_DATABASE: mysql
      OMRS_CONFIG_CONNECTION_DATABASE: openmrs
      OMRS_CONFIG_CONNECTION_SERVER: mariadb
      OMRS_CONFIG_CONNECTION_USERNAME: root
      OMRS_CONFIG_CONNECTION_PASSWORD: abc123
      OPENMRS_DB_CREATE_TABLES: true
    ports:
      - 8080:8080
    networks:
      - php-docker-stack_default

  frontend:
    image: openmrs/openmrs-reference-application-3-frontend:3.4.0
    environment:
      SPA_PATH: /openmrs/spa
      API_URL: http://backend:8080/openmrs
    ports:
      - 80:80
    networks:
      - php-docker-stack_default
      
networks:
  php-docker-stack_default:
    external: true
